$black:#000000;
$white:#ffffff;
$grey:#414141;
$transparentgrey:#414141c7;
$greylight:#747474;
$accent:#0fA89E;
$yellow:#ceff22;
$breakpoint:1000px;
$red:red;


// @keyframes TEXT_APPEAR {
// 	0% {opacity: 0;}
// 	30% {opacity: 0;}
// 	100% {opacity: 1;}
// }

body {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2rem;
	color: $white;
	margin: 0 0;
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.5rem;
		margin: 0;
	}
	a {
		text-decoration: none;
		color: $white;
	}
	a:hover {
		text-decoration: none;
		color: $white;
	}
	ul {
		list-style-type: none;
		li {
			margin: 0 .5rem;
		}
	}

}

html {
	.active {
		color: red;
	}

}
html:not([data-scroll='0']) {
	
	
	#header {
		background-color: $grey;
		position: fixed;
		display: block;
		justify-content: space-between;
		top: 0;
		width: 100%;
		z-index: 100;
		box-shadow: 0 0 2rem 0rem rgba(0,0,0,1);
	}
	
}
#header {
	transition: .2s;
	background-color: $transparentgrey;
	position: fixed;
	display: block;
	justify-content: space-between;
	top: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 0 2rem 0rem rgba(0,0,0,1);
}
.topnav {
	// overflow: hidden;
  }
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a:hover {
	color: $red;
}
.topnav a.active {
	color: $red;
}
.topnav .icon {
	display: none;
}
#hero {
	display: block;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-image: url("../images/hero.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -100;
}
.section {
	padding: 1rem;
}
.content {
	max-width: $breakpoint;
	margin: auto;
}
#home {
	position: relative;
	height: 100vh;
	vertical-align: middle;
	overflow-x: hidden;
	// animation: TEXT_APPEAR 3s;
	transition: .1s;
	#hope {
		.spray {
			background: linear-gradient($yellow, $yellow), url(../images/Spray.jpg);
			background-blend-mode: multiply;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			// color: $yellow;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
		font-family: 'Roboto', sans-serif;
		position: absolute;
		// width: $breakpoint;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		display: block;
		text-align: center;
		transition: .5s;
	}
	#hope:hover {
		color: $accent;
	}
}
#about {
	position: relative;
	padding: 10rem 1rem;
	background-color: rgba(0, 0, 0, 0.623);
	#vision {
		display: block;
		color: $white;

	}

}
#featured {
	background-color: rgba(255, 255, 255, 0.9);
	padding-top: 5rem;
	.myrow {
		display: flex;
	}

	.feature-description {
		padding: 2px 16px;
		font-size: 1rem;
	}
}
.mycard {
	background-color: $white;
	color: $grey;
	margin: 1rem 0;
	img {
		width: 100%;
	}
	.name {
		margin: .5rem 1rem 0 1rem;
	}
}
#logistics {
	background-color: rgba(0,0,0,0.8);
	padding: 5rem 1rem 5rem 1rem;
}
#food {
	background-color: rgba(0,0,0,0.8);
	padding: 5rem 1rem 5rem 1rem;
}
#tickets {
	padding: 10rem 1rem;
	background-color: rgba(255, 255, 255, .9);
	color: $grey;
	#eventbrite {
		display: block;
		width: 22rem;
		background-color: $white;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
		transition: .2s;
		border-radius: 20px;
		overflow: hidden;
		font-size: 4rem;
		margin: 1rem auto;
		color: $grey;
		
		img {
			display: inline-block;
			height: 4rem;
			
		}
		div {
			display: block;
			padding: .2rem 1.5rem;
		}
	}
	#eventbrite:hover {
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
		color: $grey;
		text-decoration: none;
	}
}
#map {
	padding: 5rem 1rem;
	background-color: rgba(0, 0, 0, 0.623);
	#address {
		max-width: 600px;
		margin: 2rem auto;
	}
	#google-map {
		max-width: 600px;
		margin: auto;
		text-align: center;
		overflow:hidden;
		padding-bottom:56.25%;
		position:relative;
		height:0;
		iframe {
			left:0;
			top:0;
			height:100%;
			width:100%;
			position:absolute;
		}
		
	}
}
#sponsors {
	padding: 5rem 1rem;
	background-color: rgba(255, 255, 255, 1);
	.myrow {
		max-width: $breakpoint;
		margin: auto;
		display: flex;
		justify-content: space-around;
	}
	img {
		height: 5rem;
	}
}
#footer {
	background-color: $grey;
	.myrow {
		// width: $breakpoint;
		margin: auto;
		line-height: 4rem;
	}
	color: $white;
}	

@media screen and (max-width: $breakpoint) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
		color: $greylight;
		border: 1px solid $greylight;
		border-radius: 10px;
		margin: 7px;
		padding: 6px 10px;
	}
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.myrow {
		flex-direction: column;
	}
	h2 {
		font-size: 5rem;
		margin: 0;
	}
	h1 {
		font-size: 6rem;
		margin: -5rem 0 0 0;
	}
}
@media screen and (min-width: $breakpoint) {
	h2 {
		font-size: 15.3rem;
		margin: 0;
	}
	h1 {
		font-size: 18rem;
		margin: -10.5rem 0 0 0;
	}
	.mycard {
		margin: 1rem;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
		transition: .2s;
	}
	.mycard:hover {
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
	}
}
