$grey:#404040;
$white:#ffffff;
$accent:#10A89E;

body {
	background-color: $white;
	font-family: 'Fjalla One', sans-serif;
	color: $grey;
	height: 100vh;
}
.container {
	transition: .5s;
}
.container:hover {
	color: $accent;
	transform: scale(1.04);

}
#hope {
	margin-top: 20vh;
	font-size: 10rem;
	text-align: center;
}
#date {
	text-align: center;
}
#details {
	text-align: center;
}
